* {
    color: rgb(77, 75, 75);
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
}


body {
    background-image: url("assets/fundoPapel.jpg");
    background-size: 100%;
    background-repeat: repeat;
}

.container {
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
}

.container h1 {
    font-size: 30px;
}

.container ul li {
    list-style-type: decimal;
    padding-top: 10px;
}

input {
    width: 70%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

button {
    margin-top: 10px;
    width: 20%;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    color: black;
    background-color: greenyellow;
}