/*
Paleta de cores 
.color1 { #6c788e }; -> mais forte
.color2 { #абаес1 };
.color3 { #cfd5e1 };
.color4 { #ededf2 };
.color5 { #fcfdff };
*/

* {
    background-color: #6c788e;
    color: #fcfdff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Bem-Vindo */
#bemVindo {
    width: 100%;
    height: 700px;
    font-size: 100px;
    text-align: center;
    transition: all 0.7s ease-in-out 0.7s;
}


/* HEADER */
.header *{
    background-color: #cfd5e1;
    width: 100%;
    height: 100px;
    text-align: center;
    margin: -10px 0px 0px -10px;
    color: #6c788e;
    font-weight: bold;
}

.header ul {
    width: 100%;
    height: 70px;
    padding-top: 30px;
    
}

.header ul li{
    font-size: 32px;
    display: inline;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
}

.header ul li a {
    text-decoration: none;
    transition: all 0.1s ease-in-out 0.3s;
}

.header ul li a:hover {
    text-shadow: 10px 5px 20px rgb(95, 107, 120);
    transition: all 0.1s ease-in-out 0.3s;
}

/* MAIS SOBRE */

.content_maisSobre {
    width: 90%;
    height: 600px;
    margin: 90px 50px 0px 50px;
    padding: 0px 50px 0px 50px;
}

.content_maisSobre img{
    width: 300px;
    border-radius: 60px;
    float: left;
}

.maisSobreText p {
    color: #cfd5e1;
    font-size: 26px;
}

.maisSobreText {
    margin-left: 0px;
    text-align: left;
    width: 100%;
    max-width: 1100px;
    height: 300px;
    float: right;
}
